<button @onclick="ThrowException">Throw Exception</button>
<button @onclick="ThrowExceptionAsync">Awaited task throws</button>
<button @onclick="ThrowExceptionUnawaited">Un-awaited task throws</button>
<button @onclick="ThrowRenderTreeException">Throw RenderTree Exception</button>


@if (RenderInvalidTree)
{
    <div><button @onclick="ThrowException" @qq="test">qwe</button></div>
}

<MainCounterView/>

@code {
    bool RenderInvalidTree { get; set; }
    
    void ThrowExceptionUnawaited()
    {
        _ = ThrowExceptionAsync();
    }
    
    async Task ThrowExceptionAsync()
    {
        await Task.Delay(10);
        throw new Exception("This is some ***async*** exception.");
    }
    
    void ThrowException()
    {
        throw new Exception("This is some unhandled exception.");
    }
    
    void ThrowRenderTreeException()
    {
        RenderInvalidTree = true;
    }
}