body, html {
    background-color: transparent;
    color: var(--eye-MaterialDesignBody);
    font-family: var(--eye-font-family);
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#app {
    height: 100%;
    width: 100%;
}

.panel {
    background-color: var(--eye-MaterialDesignPaper);
}

.scroller {
}

.scroller * {
    overflow-anchor: none;
}

.scroller-anchor {
    overflow-anchor: auto;
    height: 1px;
}

.positive {
    color: var(--eye-PositiveColor);
}

.warning {
    color: var(--eye-WarningColor);
}

.negative {
    color: var(--eye-NegativeColor);
}

.hstack {
    gap: 5px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px white;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}

.sticky {
    position: sticky;
    top: 0;
}

.bg-accent-mouseover {
    background: #80d8ff;
}

/* MahAccentDoubleGradientBrush equivalent */
.header-mah-accent-double-gradient {
    background: linear-gradient(45deg, rgba(13, 110, 253, 0.3) 0%, transparent 100%);
}

/* MahGroupBoxHeaderBrush equivalent */
.header-mah-groupbox-header {
    background: linear-gradient(45deg, #0d6efd 0%, #0d6efd 20%, transparent 80%);
}

/* MahGroupBoxLightHeaderBrush equivalent */
.header-mah-groupbox-light-header {
    background: linear-gradient(45deg, rgba(13, 110, 253, 0.3) 0%, rgba(13, 110, 253, 0.3) 10%, transparent 80%);
}
