:root {
    --eye-Primary50: #eceff1;
    --eye-Primary50Foreground: #000000DD;
    --eye-Primary100: #cfd8dc;
    --eye-Primary100Foreground: #000000DD;
    --eye-Primary200: #b0bec5;
    --eye-Primary200Foreground: #000000DD;
    --eye-Primary300: #90a4ae;
    --eye-Primary300Foreground: #000000DD;
    --eye-Primary400: #78909c;
    --eye-Primary400Foreground: #FFFFFFFF;
    --eye-Primary500: #607d8b;
    --eye-Primary500Foreground: #FFFFFFDD;
    --eye-Primary600: #546e7a;
    --eye-Primary600Foreground: #FFFFFFDD;
    --eye-Primary700: #455a64;
    --eye-Primary700Foreground: #FFFFFFDD;
    --eye-Primary800: #37474f;
    --eye-Primary800Foreground: #FFFFFFDD;
    --eye-Primary900: #263238;
    --eye-Primary900Foreground: #FFFFFFDD;

    --eye-Accent100: #82b1ff;
    --eye-Accent100Foreground: #000000DD;
    --eye-Accent200: #448aff;
    --eye-Accent200Foreground: #FFFFFFFF;
    --eye-Accent400: #2979ff;
    --eye-Accent400Foreground: #FFFFFFDD;
    --eye-Accent700: #2962ff;
    --eye-Accent700Foreground: #FFFFFFDD;

    --eye-PrimaryHueLightBrush: var(--eye-Primary200);
    --eye-PrimaryHueLightForegroundBrush: var(--eye-Primary200Foreground);
    --eye-PrimaryHueMidBrush: var(--eye-Primary500);
    --eye-PrimaryHueMidForegroundBrush: var(--eye-Primary500Foreground);
    --eye-PrimaryHueDarkBrush: var(--eye-Primary500Foreground);
    --eye-PrimaryHueDarkForegroundBrush: var(--eye-Primary700Foreground);
    --eye-SecondaryHueMidBrush: var(--eye-Accent700);
    --eye-SecondaryHueMidForegroundBrush: var(--eye-Accent700Foreground);

    --eye-MaterialDesignValidationErrorColor: #CF6679;
    --eye-MaterialDesignBackground: #000000;
    --eye-MaterialDesignPaper: #303030;
    --eye-MaterialDesignPaperDark: #252525;
    --eye-MaterialDesignCardBackground: #424242;
    --eye-MaterialDesignToolBarBackground: #212121;
    --eye-MaterialDesignBody: #FFFFFFDD;
    --eye-MaterialDesignBodyLight: #FFFFFF89;
    --eye-MaterialDesignColumnHeader: #FFFFFFBC;
    --eye-MaterialDesignCheckBoxOff: #FFFFFF89;
    --eye-MaterialDesignCheckBoxDisabled: #647076;
    --eye-MaterialDesignTextBoxBorder: #FFFFFF89;
    --eye-MaterialDesignDivider: #FFFFFF1F;
    --eye-MaterialDesignSelection: #757575;
    --eye-MaterialDesignToolForeground: #616161;
    --eye-MaterialDesignToolBackground: #e0e0e0;
    --eye-MaterialDesignFlatButtonClick: #75757519;
    --eye-MaterialDesignFlatButtonRipple: #B6B6B6;
    --eye-MaterialDesignToolTipBackground: #eeeeee;
    --eye-MaterialDesignChipBackground: #2E3C43;
    --eye-MaterialDesignSnackbarBackground: #CDCDCD;
    --eye-MaterialDesignSnackbarMouseOver: #B9B9BD;
    --eye-MaterialDesignSnackbarRipple: #494949;
    --eye-MaterialDesignTextFieldBoxBackground: #FFFFFF1A;
    --eye-MaterialDesignTextFieldBoxHoverBackground: #FFFFFF1F;
    --eye-MaterialDesignTextFieldBoxDisabledBackground: #FFFFFF0D;
    --eye-MaterialDesignTextAreaBorder: #FFFFFFBC;
    --eye-MaterialDesignTextAreaInactiveBorder: #FFFFFF29;
    --eye-MaterialDesignDataGridRowHoverBackground: #FFFFFF14;

    --eye-font-family: system-ui, -apple-system, Roboto, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --eye-PoeShallow: #11FFFFFF;
    --eye-PoeFontColor: #FFFEEAC5;
    --eye-PoeBgColor: #AA030303;
    --eye-PoeSemiTransparentBgColor: #88030303;
    --eye-PoeSemiTransparentFontColor: #88FEEAC5;

    --eye-PoeItemElementalStatColor: #FF8CACBC;
    --eye-PoeItemPhysicalStatColor: #FFFFFB8C;

    --eye-PoeItemDexStatColor: #FF29BA55;
    --eye-PoeItemStrStatColor: #FFE16043;
    --eye-PoeItemIntStatColor: #FF4479A9;

    --eye-PoeItemRarityNormalColor: White;
    --eye-PoeItemRarityMagicColor: #5050EB;
    --eye-PoeItemRarityRareColor: #A39E1B;
    --eye-PoeItemRarityUniqueColor: #AF6025;
    --eye-PoeItemRarityRelicColor: #82AD6A;

    --eye-PositiveColor: LimeGreen;
    --eye-WarningColor: Orange;
    --eye-NegativeColor: IndianRed;
    --eye-NeutralColor: Yellow;

    --eye-OverlayWindowBorderColorKey: #1A6A73;
    --eye-OverlayWindowTitleBackgroundColorKey: #343E3D;
    --eye-OverlayWindowBackgroundColorKey: #292C2A;
    --eye-OverlayWindowTextColorKey: #EEC64C;
    --eye-PopupWindowBackgroundColorKey: #FF424242;

    --eye-MouseOverAccentColorKey: #80d8ff;
    --eye-ButtonTextAccentColorKey: #EEC64C;
    --eye-TransparentColorKey: #00000000;
    --eye-OverlayBorderColorKey: #1A6A73;
    --eye-OverlayTitleBackgroundColorKey: #343E3D;
    --eye-OverlayTitleColorKey: #EEC64C;
    --eye-OverlayAlternateBackgroundColorKey: #303030;
    --eye-OverlayBackgroundColorKey: #292C2A;
    --eye-OverlayForegroundColorKey: White;
}

body, html {
    background-color: transparent;
    color: var(--eye-MaterialDesignBody);
    font-family: var(--eye-font-family);
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#app {
    height: 100%;
    width: 100%;
}

.panel {
    background-color: var(--eye-MaterialDesignPaper);
}

.scroller {
}

.scroller * {
    overflow-anchor: none;
}

.scroller-anchor {
    overflow-anchor: auto;
    height: 1px;
}

.positive {
    color: var(--eye-PositiveColor);
}

.warning {
    color: var(--eye-WarningColor);
}

.negative {
    color: var(--eye-NegativeColor);
}

.hstack {
    gap: 5px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px white;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}

.sticky {
    position: sticky;
    top: 0;
}

.bg-accent-mouseover {
    background: #80d8ff;
}

/* MahAccentDoubleGradientBrush equivalent */
.header-mah-accent-double-gradient {
    background: linear-gradient(45deg, rgba(13, 110, 253, 0.3) 0%, transparent 100%);
}

/* MahGroupBoxHeaderBrush equivalent */
.header-mah-groupbox-header {
    background: linear-gradient(45deg, #0d6efd 0%, #0d6efd 20%, transparent 80%);
}

/* MahGroupBoxLightHeaderBrush equivalent */
.header-mah-groupbox-light-header {
    background: linear-gradient(45deg, rgba(13, 110, 253, 0.3) 0%, rgba(13, 110, 253, 0.3) 10%, transparent 80%);
}
