@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Regular.ttf') format('truetype');
}

#blazor-window {
    font-family: Play, serif;
}

#blazor-window-titlebar {
    background: linear-gradient(to right, #2d3a45, #2f2f2f);
    color: white;
    text-transform: uppercase !important;
    position: relative;
    overflow: hidden;
    border-top-left-radius: var(--blazor-window-corner-radius, 0px);
    border-top-right-radius: var(--blazor-window-corner-radius, 0px);
}

#blazor-window-body {
    position: relative;
    border-bottom-left-radius: var(--blazor-window-corner-radius, 0px);
    border-bottom-right-radius: var(--blazor-window-corner-radius, 0px);
}

#blazor-window-statusbar {
    background: linear-gradient(to right,
    #2d3a45 40%,
    #2f2f2f 90%
    );
    color: white;
    align-items: center;
}

.blazor-window-inactive #blazor-window-titlebar,
.blazor-window-inactive #blazor-window-statusbar {
    filter: grayscale(100%);
    opacity: 0.6;
}
