h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
}

h6 {
    text-transform: uppercase;
}