@namespace PoeShared.Blazor.Controls
@inherits PoeShared.Blazor.BlazorReactiveComponent<BasicTimelineEntry>

<ReactiveSection Trackers="@(new() {DataContext.WhenAnyValue(x => x.IsBusy, x => x.Text, x => x.ProgressPercent, x => x.IsHtml)})">
    @if (DataContext.ProgressPercent != null)
    {
        <ProgressBar Value="@(DataContext.ProgressPercent ?? 0)" Class="align-self-center mx-2" Style="width: 50px;position: absolute;left: -90px;"/>
    }
    @if (DataContext.IsHtml)
    {
        <div>@((MarkupString)(DataContext.Text ?? string.Empty))</div>
    }
    else
    {
        <div>@DataContext.Text@(DataContext.IsBusy ? "..." : string.Empty)</div>
    }
</ReactiveSection>