@namespace PoeShared.Blazor.Controls
@inherits PoeShared.Blazor.BlazorReactiveComponent<TimeoutTimelineEntry>

<div class="d-flex">
    <div>
        @($"{DataContext.Text}{(DataContext.IsBusy ? "..." : string.Empty)}")
    </div>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0"
        HideIfDisabled="true"
        IsEnabled="@(DataContext.IsBusy)"
        Command="@(DataContext.Cancel)">
        <i class="fa fa-fast-forward fa-fixed"></i>
        skip
    </ReactiveButton>
</div>

@code {
    public TimeoutTimelineItem()
    {
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.Text));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.IsBusy));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.Timestamp));
    }
}