@namespace PoeShared.Blazor.Controls
@inherits PoeShared.Blazor.BlazorReactiveComponent<TimeoutTimelineEntry>

<div class="d-flex">
    <div>
        @Track(x => $"{x.Text}{(DataContext.IsBusy ? "..." : string.Empty)}")
    </div>
    <ReactiveButton
        Class="btn btn-link h-auto mx-2 p-0"
        HideIfDisabled="true"
        IsEnabled="@Track(x => x.IsBusy)"
        Command="@(DataContext.Cancel)">
        <i class="fa fa-fast-forward fa-fixed"></i>
        skip
    </ReactiveButton>
</div>