[submodule "Submodules/RadialMenu"]
	path = Submodules/RadialMenu
	url = https://github.com/iXab3r/RadialMenu.git
[submodule "Submodules/HTML-Renderer"]
	path = Submodules/HTML-Renderer
	url = https://github.com/ArthurHub/HTML-Renderer.git
[submodule "Submodules/PoePickit"]
	path = Submodules/PoePickit
	url = https://github.com/iXab3r/PoePickit.git
[submodule "Submodules/WpfAutoCompleteControls"]
	path = Submodules/WpfAutoCompleteControls
	url = https://github.com/iXab3r/WpfAutoCompleteControls.git
