@using PoeShared.Blazor.Scaffolding
@inherits BlazorReactiveComponent

<BlazorErrorBoundary @ref="errorBoundary">
    <ChildContent>
        @if (Type != null)
        {
            <DynamicComponent Type="@Type" Parameters="@Parameters"/>
        }
        else
        {
            <div>Type is not selected</div>
        }
    </ChildContent>
    <ErrorContent>
        <h3 class="text-danger border-bottom border-danger">Component has crashed</h3>
        <button @onclick="Recover">Try to recover</button>
        <div class="border p-2 text-warning">
            @if (errorBoundary.CurrentException != null)
            {
                @errorBoundary.CurrentException
            }
            else
            {
                <div>$"Exception is not known"</div>
            }
        </div>
        
    </ErrorContent>
</BlazorErrorBoundary>

@code {

    [Parameter]
    public Type Type { get; set; }

    [Parameter]
    public Dictionary<string, object> Parameters { get; set; }
    
    private BlazorErrorBoundary errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    private void Recover()
    {
        errorBoundary?.Recover();
    }

}