@using PoeShared.Blazor.Scaffolding
@inherits BlazorReactiveComponent

<BlazorErrorBoundary @ref="errorBoundary">
    <ChildContent>
        @if (ViewType != null)
        {
            <DynamicComponent Type="@ViewType"/>
        }
        else
        {
            <div>Type is not selected</div>
        }
    </ChildContent>
    <ErrorContent>
        <div class="text-danger border-bottom border-danger">Component exception</div>
        <button class="m-1" @onclick="Recover">Try to recover</button>
        <div class="p-2 text-warning">
            @if (errorBoundary.CurrentException != null)
            {
                @errorBoundary.CurrentException
            }
            else
            {
                <div>$"Exception is not known"</div>
            }
        </div>
        
    </ErrorContent>
</BlazorErrorBoundary>

@code {

    private BlazorErrorBoundary errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    private void Recover()
    {
        errorBoundary?.Recover();
    }

}