<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PoeEyeUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <modules>
    <!-- Required modules -->
    <module moduleName="PoeShared" assemblyFile="PoeShared.dll" moduleType="PoeShared.Prism.PoeSharedModule, PoeShared" startupLoaded="true" />
    <module moduleName="PoeEye" assemblyFile="PoeEye.dll" moduleType="PoeEye.Prism.MainModule, PoeEye" startupLoaded="true">
      <dependencies>
        <dependency moduleName="PoeShared"/>
        <dependency moduleName="ItemParser"/>
        <dependency moduleName="PoeWhisperMonitor"/>
      </dependencies>
    </module>
    <module moduleName="PoeWhisperMonitor" assemblyFile="PoeWhisperMonitor.dll" moduleType="PoeWhisperMonitor.Prism.PoeWhisperMonitorModule, PoeWhisperMonitor" startupLoaded="true" />
    <module moduleName="ItemParser" assemblyFile="PoeEye.ItemParser.dll" moduleType="PoeEye.ItemParser.Prism.ItemParserModule, PoeEye.ItemParser" startupLoaded="true"/>
    
    <!-- API providers -->
    <module moduleName="PathOfExileTrade" assemblyFile="PoeEye.PathOfExileTrade.dll" moduleType="PoeEye.PathOfExileTrade.Prism.PathOfExileTradeModule, PoeEye.PathOfExileTrade" startupLoaded="true" />
    <module moduleName="PoeTrade" assemblyFile="PoeEye.PoeTrade.dll" moduleType="PoeEye.PoeTrade.Prism.PoeTradeModule, PoeEye.PoeTrade" startupLoaded="true" />

    <!-- Optional modules -->
    <module moduleName="PoeControlPanelModule" assemblyFile="PoeShared.dll" moduleType="PoeShared.PoeControlPanel.Modularity.PoeControlPanelModule, PoeShared" startupLoaded="true" />

    <module moduleName="PoeBud" assemblyFile="PoeBud.dll" moduleType="PoeBud.Prism.PoeBudModule, PoeBud" startupLoaded="true">
      <dependencies>
        <dependency moduleName="StashGrid"/>
      </dependencies>
    </module>
    <module moduleName="StashGrid" assemblyFile="PoeEye.StashGrid.dll" moduleType="PoeEye.StashGrid.Prism.PoeStashGridModule, PoeEye.StashGrid" startupLoaded="true" />
    <module moduleName="PoeTradeMonitor" assemblyFile="PoeTradeMonitor.dll" moduleType="PoeEye.TradeMonitor.Prism.PoeTradeMonitorModule, PoeTradeMonitor" startupLoaded="true" />
    <module moduleName="TradeSummary" assemblyFile="PoeEye.dll" moduleType="PoeEye.TradeSummaryOverlay.Prism.PoeTradeSummaryModule, PoeEye" startupLoaded="true" />
    <!--
    <module moduleName="PoeEye.StashRealtimeApi" assemblyFile="PoeEye.StashRealtimeApi.dll" moduleType="PoeEye.StashRealtimeApi.Prism.StashRealtimeModule, PoeEye.StashRealtimeApi" startupLoaded="true" />
     -->
  </modules>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${APPDATA}/PoeEye/logs/PoeEye.%property{configuration}.log" />
      <appendToFile value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="100MB" />
      <immediateFlush value="true" />
      <staticLogFileName value="false" />
      <preserveLogFileNameExtension value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-2thread] %-5level [%type{1}.%method] %message%newline" />
      </layout>
    </appender>
    
    <!-- Specific log levels -->
    
    <!--
    <logger name="PoeShared.Native"><level value="TRACE" /></logger>
    -->
    
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.12.0.0" newVersion="1.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PoeEyeUi.Properties.Settings>
      <setting name="PathOfExileWindowName" serializeAs="String">
        <value>Path of Exile</value>
      </setting>
    </PoeEyeUi.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>