@namespace PoeShared.Blazor.Controls
@inherits BlazorReactiveComponent
@typeparam TItem

@{

}

<span class="@ClassMapper.Class" @onclick="OnClick">
    @if (SelfNode.IsLeaf == false && TreeComponent.ShowExpand == true)
    {
        <Icon Type="caret-down" Theme="outline" Class="ant-tree-switcher-icon"/>
    }
    else
    {
        <Icon Type="caret-down" Theme="outline" Class="ant-tree-switcher-icon invisible"/>
    }
</span>