@namespace PoeShared.Blazor.Controls
@inherits BlazorReactiveComponent
@inject Microsoft.JSInterop.IJSRuntime jsRuntime

<div id="@($"bootstrap-tooltip-{ComponentId}")"
     data-bs-toggle="tooltip"
     class="@Class" style="@Style"
     @attributes=AllOtherAttributes>
    @ChildContent
</div>

@code{


}